@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
    background-color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


.sidebar-item {
    padding: 0 16px;
    transition: background-color 0.3s;
}

.sidebar-item:hover {
    background-color: white;
    color: black;
}

.active {
    background-color: white;
    color: black;
}